<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books lookup tool</title>

    <!-- Latest compiled and minified CSS -->
    <th:block th:fragment="headerfiles">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/css/loader.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/book.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/clickableRow.css}"/>
    </th:block>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row" th:fragment="header">
        <div class="col-md-6 col-md-offset-3">
            <div style="float: right;">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <th:block th:text="${currency}"></th:block>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li th:each="availableCurrency : ${availableCurrencies}">
                            <a href="javascript:void(0)" onclick="dropdownHandler.call(this)" class="selectCurrency">
                                <th:block th:text="${availableCurrency}"></th:block>
                            </a>
                        </li>
                    </ul>
                </div>
                <script>
                    function dropdownHandler() {
                        document.location.href = "/setcurrency?currency=" + this.innerText + "&src=" + encodeURIComponent(window.location.href);
                    }
                </script>
            </div>

            <div class="page-header">
                <h1 class="text-center">Books lookup tool</h1>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"
                        th:attrappend="aria-current=${iterStat.index == #lists.size(breadcrumbs)-1} ? page : ''"
                        th:classappend="${iterStat.index == #lists.size(breadcrumbs)-1} ? active : ''"
                        th:each="breadcrumb, iterStat : ${breadcrumbs}">

                        <a class="breadcrumb-hyperlink" th:if="${iterStat.index < #lists.size(breadcrumbs)-1}"
                           th:href="${breadcrumb.path}" th:text="${breadcrumb.display}"> Path breadcrumb </a>
                        <th:block th:if="${iterStat.index == #lists.size(breadcrumbs)-1}" th:text="${breadcrumb.display}"> Last </th:block>
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row" th:fragment="footer">
        <div class="col-md-6 col-md-offset-3">
            <footer class="footer">
                <div class="container">
                    <span class="text-muted">2018 Jakub Trzebiatowski</span>
                </div>
            </footer>
        </div>
    </div>
</div>

</body>
</html>
