<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books lookup tool</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row" th:fragment="header">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1 class="text-center">Books lookup tool</h1>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"
                        th:attrappend="aria-current=${iterStat.index == #lists.size(breadcrumbs)-1} ? page : ''"
                        th:classappend="${iterStat.index == #lists.size(breadcrumbs)-1} ? active : ''"
                        th:each="breadcrumb, iterStat : ${breadcrumbs}">

                        <a th:if="${iterStat.index < #lists.size(breadcrumbs)-1}"
                           th:href="${breadcrumb.path}" th:text="${breadcrumb.display}"> Path breadcrumb </a>
                        <th:block th:if="${iterStat.index == #lists.size(breadcrumbs)-1}" th:text="${breadcrumb.display}"> Last </th:block>
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row" th:fragment="footer">
        <div class="col-md-6 col-md-offset-3">
            <footer class="footer">
                <div class="container">
                    <span class="text-muted">2018 Jakub Trzebiatowski</span>
                </div>
            </footer>
        </div>
    </div>
</div>

</body>
</html>
