<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books lookup tool</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1 class="text-center">Books lookup tool</h1>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"
                        th:attrappend="aria-current=${iterStat.index == #lists.size(breadcrumbs)-1} ? page : no"
                        th:classappend="${iterStat.index == #lists.size(breadcrumbs)-1} ? active : no"
                        th:each="breadcrumb, iterStat : ${breadcrumbs}">

                        <a th:if="${iterStat.index < #lists.size(breadcrumbs)-1}"
                           th:href="${breadcrumb.path}" th:text="${breadcrumb.display}"> Path breadcrumb </a>
                        <th:block th:if="${iterStat.index == #lists.size(breadcrumbs)-1}" th:text="${breadcrumb.display}"> Last </th:block>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Search</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <form id="search" action="#">
                            <div class="form-group">
                                <label for="query">Book title:</label>
                                <input type="text" class="form-control" id="query" aria-describedby="emailHelp"
                                       placeholder="Book title" th:value="${query}">
                                <small id="emailHelp" class="form-text text-muted">Enter the title of the book you want to search for.</small>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <footer class="footer">
                <div class="container">
                    <span class="text-muted">2018 Jakub Trzebiatowski</span>
                </div>
            </footer>
        </div>
    </div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function() {
        var queryInput = $("#query");
        // set the cursor the the end of the input
        queryInput.focus(function() {
            this.selectionStart = this.selectionEnd = Number.MAX_SAFE_INTEGER;
        });
        queryInput.focus();
        $("#search").submit(function(event) {
            document.location.href = "/search/" + queryInput.val();
            event.preventDefault();
        });
    });
</script>
</body>
</html>
