<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books lookup tool</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/loader.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/clickableRow.css}"/>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div th:replace="fragments/headerAndFooter :: header"></div>

    <div id="loader"></div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Search</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <form id="search" action="#">
                            <div class="form-group">
                                <label for="query">Book title:</label>
                                <input type="text" class="form-control" id="query" aria-describedby="emailHelp"
                                       placeholder="Book title" th:value="${query}">
                                <small id="emailHelp" class="form-text text-muted">Enter the title of the book you want to search for.</small>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" th:if="${not #strings.isEmpty(query)}">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title" th:utext="${#lists.size(books)} + ' results for<br/><b>' + ${query} + '</b>'"></h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Cover</th>
                                <th>Title</th>
                                <th>Subtitle</th>
                                <th>Authors</th>
                                <th>ISBN 10/13</th>
                            </tr>
                            </thead>
                            <tr class="clickable-row" th:each="book : ${books}"
                                th:attr="data-isbn=${book.isbn.isbn10} + ',' + ${book.isbn.isbn13}">
                                <td>
                                    <img th:src="${#strings.isEmpty(book.thumbnailUrl) ?
                                    'https://books.google.pl/googlebooks/images/no_cover_thumb.gif' : book.thumbnailUrl}"
                                         alt="Book cover image">
                                </td>
                                <td th:text="${book.title}">Title</td>
                                <td th:text="${book.subtitle}">subtitle</td>
                                <td>
                                    <p th:each="author : ${book.authors}"
                                       th:text="${author}">Author</p>
                                </td>
                                <td th:utext="${book.isbn.isbn10} + '<br/>' + ${book.isbn.isbn13}">12123214125125</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/headerAndFooter :: footer"></div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>
    function displayLoader() {
        $( "#loader" ).addClass("loader");
    }
    $(document).ready(function() {
        var queryInput = $("#query");
        // set the cursor the the end of the input
        queryInput.focus(function() {
            this.selectionStart = this.selectionEnd = Number.MAX_SAFE_INTEGER;
        });
        queryInput.focus();
        $("#search").submit(function(event) {
            displayLoader();
            document.location.href = "/search/" + queryInput.val();
            event.preventDefault();
        });
        $(".clickable-row").click(function() {
            document.location.href += "/book/" + $(this).data("isbn");
        });
    });
</script>
</body>
</html>
